body {
  font-family: 'Poppins', sans-serif;
}




.about-us-section {
  background-color: #fff;
}

.about-image-wrapper {
  position: relative;
  width: fit-content;
}

.dotted-bg {
  position: absolute;
  bottom: -20px;
  left: -40px;
  width: 250px;
  height: 200px;
  background-image: radial-gradient(#8DD83D 1px, transparent 1px);
  background-size: 15px 15px;
  z-index: 0;
}

.about-image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 25px;
  position: relative;
  max-width: 400px;
}

/* Top left large image */
.grid-top-left {
  grid-row: 1 / span 2;
  grid-column: 1 / 2;
}

.grid-top-left img {
  height: 230px;
  width: 200px;
  position: relative;
  bottom: -30px;
  left: -30px;
  object-fit: cover;
  border-radius: 15px;
}

/* Top right small image */
.grid-top-right img {
  height: 160px;
  width: 160px;
  position: relative;
  left: -40px;
  bottom: -40px;
  margin-bottom: 20%;
  border-radius: 15px;
}

/* Bottom right square image */
.grid-bottom-right img {
  height: 200px;
  width: 180px;
  left: -90px;
  bottom: 10px;
  position: relative;
  border-radius: 15px;
}

/* Green box with experience text */
.experience-box-final {
  position: absolute;
  left: -10px;
  bottom: 10px;
  background-color: #8DD83D;
  padding: 20px 5px;
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 120px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.experience-box-final h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.experience-box-final small {
  font-size: 0.8rem;
}



.icon-circle {
  background-color: #8DD83D; /* green circle */
  color: white;
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.our-services-section {
  background-color: #f8fbf5;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section3-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-image: url('globe.jpg');
  background-size: cover;
  background-position: 80% center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.2;
}
 .arrow-btn {
  width: 40px;
  height: 40px;
  border: 2px solid #14532d; /* dark green border */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #14532d; /* dark green icon */
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px; /* space between buttons horizontally */
}
.arrow-btn:hover {
  background-color: #14532d;
  color: white;
}
